<!--
  Generated template for the BidPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Search songs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <strong>Code: </strong> {{code}}
  </ion-card>
  <br>
  <ion-item>
    <ion-label>Search songs</ion-label>
    <ion-input [(ngModel)]="searchQuery" type="text"></ion-input>
  </ion-item>

  <div padding>
    <button ion-button round block (click)="search()"> Search </button>
  </div>

  <ion-list *ngIf="showSearch">
    <ion-item *ngFor="let result of searchResults" (click)="selectSong(result.name, result.artist, result.songUri)">
      {{result.name}} - {{result.artist}}
    </ion-item>
  </ion-list>

  <ion-card>
    <strong>Your selected song: </strong> <div *ngIf="selectedSong">{{selectedSong.name}} - {{selectedSong.artist}}</div>
  </ion-card>
  <br><br>

  <strong *ngIf="roundMsg">{{roundMsg}}</strong>
  <ion-grid>
    <ion-row>
      <ion-col col-5></ion-col>
      <ion-col col-4>
        <ion-spinner *ngIf="spinToggle"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br><br>
  <ion-item>
    <ion-label>Amount</ion-label>
    <ion-input [(ngModel)]="bidAmount" type="text"></ion-input>
  </ion-item>

  <div padding>
    <button ion-button round block (click)="makeBid()"> Make a bid </button>
  </div>

  <br><br><br><br><br>
  <ion-card>
    <strong>Top bid: </strong> {{topBid}}
    <br>
    <strong>Top song: </strong> {{topSong}}
  </ion-card>


<!--<button ion-button block (click)="sendMsg()"> AMANDA </button>-->


</ion-content>
